@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

body {
    background-color: #131827;
    font-family: 'Roboto', sans-serif;
    color:whitesmoke;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.containerSmall {
    width: 30rem;
    align-self: center;
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    background-color: #1b2236;
    border-radius: 15px;
}

.container {
    width: 50rem;
    align-self: center;
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    background-color: #1b2236;
    border-radius: 15px;
}

.containerBig {
    width: 105rem;
    align-self: center;
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    background-color: #1b2236;
    border-radius: 15px;
}

.center {
    text-align: center;
}

.h-27 {
    height: 37.5rem;
}

.w-87 {
    width: 87rem;
}

axisWhite line{
    stroke: #f9f9f9;
}
  
.axisWhite path{
    stroke: #f9f9f9;
}

.axisWhite text{
    fill: #f9f9f9;
}