@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

body {
    background-color: #131827;
    font-family: 'Roboto', sans-serif;
    color:whitesmoke;
}

.flex-container {
    display: flex;
}

.container {
    width: 50rem;
    align-self: center;
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    background-color: #1b2236;
    border-radius: 15px;
}

.containerBig {
    width: 100rem;
    align-self: center;
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    background-color: #1b2236;
    border-radius: 15px;
}

.h-27 {
    height: 27rem;
}